body {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 16px;
    font-size: 18px;
}

.body-one {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    text-align: left;
}

.body-one h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.body-one p {
    font-size: 18px;
    color: #E5E7EB;
}

.body-one #button {
    display: block;
    text-align: center;
    border: none;
    width: 110px;
    background-color: #3882F6
}
