body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 16px;
    background-color: #1F2937;
    height: 500px;
    justify-content: space-around;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 8px;
    gap: 20px;
    font-size: 18px;
}

#head1 {
    font-size: 24px;
    display: flex;
    margin: 8px;
    color: white;
    font-weight: bold;

}

