body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 16px;
    font-size: 18px;
}

.body-one {
    display: flex;
    background-color: #1f2937;
    padding: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 150px;
}

.hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0;
}

.left button {
    padding: 8px;
    border: none;
    background-color: #3882F6;
    width: 100px;
    border-radius: 8px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    background-color: rgb(106, 106, 106);
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
}